

*   The first technique to handle missing date to remove the whole row which has missing values.
*   The second way is to impute the missing values again we have two ways to do so **Univariate** and **Multivariate**

# **CCA --> Complete Case Analysis**

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('data_science_job.csv')

In [5]:
df.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,20.0,NaN,NaN,36.0,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15.0,50-99,Pvt Ltd,47.0,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5.0,NaN,NaN,83.0,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,0.0,NaN,Pvt Ltd,52.0,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,20.0,50-99,Funded Startup,8.0,0.0

In [9]:
df.shape

(19158, 13)

In [6]:
df.isnull().sum()

enrollee_id                  0
city                         0
city_development_index     479
gender                    4508
relevent_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                  65
company_size              5938
company_type              6140
training_hours             766
target                       0
dtype: int64

In [10]:
#This will give percentage of missing values with respect to each columns
df.isnull().mean()*100

enrollee_id                0.000000
city                       0.000000
city_development_index     2.500261
gender                    23.530640
relevent_experience        0.000000
enrolled_university        2.014824
education_level            2.401086
major_discipline          14.683161
experience                 0.339284
company_size              30.994885
company_type              32.049274
training_hours             3.998330
target                     0.000000
dtype: float64

In [21]:
# Columns in which we can apply cca (<5%)
# city_development_index
# enrolled_university
# education_level
# training_hours
# experience
# how to find those columns which have missing values <5%
cols = [var for var in df.columns if df[var].isnull().mean()<0.05 and df[var].isnull().mean()>0]
print(cols)
len(cols)

['city_development_index', 'enrolled_university', 'education_level', 'experience', 'training_hours']

5

In [23]:
# After dropping the missing value rows what % of data is left
len(df[cols].dropna())/len(df)*100

89.68577095730244

In [24]:
# Creating new data frame after excluding all the missing values
new_df = df[cols].dropna()
df.shape, new_df.shape

((19158, 13), (17182, 5))

In [25]:
new_df.isnull().sum()

city_development_index    0
enrolled_university       0
education_level           0
experience                0
training_hours            0
dtype: int64